<div class="row">  
  <div class="col-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="name" style="padding: 5px;">Your Name</label>
        <input type="text" class="form-control form-control-sm" name="name" style="padding: 5px;" [(ngModel)]="message.name">
      </div>
      <div class="form-group">
        <label for="message" style="padding: 5px;">Message</label>
        <input type="text" class="form-control form-control-sm" name="message" style="padding: 5px;" [(ngModel)]="message.text">
      </div>
      <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 15px;" (click)="echo()">Send</button>
    </form>
  </div>
  <div class="col-12">
    <p *ngFor="let m of messages">{{m.name}}: {{m.text}}</p>
  </div>
</div>
